<%- include('../../includes/header.ejs') %>
<link rel="stylesheet" href="/css/changeName.css">
<link rel="stylesheet" href="/css/ripple.css">
</head>

<body>
    <header>
        <div class="img-forg"></div>
        <img src="/images/analytics-back.svg" class="back-img">
        <img src="<%= curr_avatar %>" class="avatar">
        <h3 class="name"><%= name  %></h3>
        <h3 class="email"><%= email %></h3>
        <img class="left-arrow" onclick="goBack()" src="/images/left-arrow.svg">
    </header>

    <main class="changeName">
        <form action="/student/settings/changeName" method="post">
            <input type="text" name="firstName" id="firstName" placeholder="First Name" required>
            <input type="text" name="middleName" id="middleName" placeholder="Middle Name">
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" required>
            <button type="submit" class="changeName__btn ripple">Change</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <%- include('../../includes/footer.ejs') %>