<%- include('../../includes/header.ejs') %>

<link rel="stylesheet" href="/css/ripple.css">
<link rel="stylesheet" href="/css/settings.css">
</head>

<body>
    <header>
        <div class="img-forg"></div>
        <img src="/images/analytics-back.svg" class="back-img">
        <img src="<%= curr_avatar %>" class="avatar">
        <h3 class="name"><%= name  %></h3>
        <h3 class="email"><%= email %></h3>
        <img class="left-arrow" onclick="goBack()" src="/images/left-arrow.svg">
    </header>

    <main class="settings">
        <a href="/settings/changeName" class="settings__option ripple"><img class="settings__img"
                src="/images/changeName.svg">Change
            Name</a>
        <hr>
        <a href="/settings/changePassword" class="settings__option ripple"><img class="settings__img"
                src="/images/changePassword.svg">Change Password</a>
        <hr>
        <a href="/settings/changeAvatar" class="ripple"><img class="settings__img" src="/images/changeAvatar.svg">Change
            Avatar</a>
    </main>

    <section class="feedback settings">
        <a href="/settings/aboutus" class="ripple"><img class="settings__img" src="/images/aboutus.svg">About Us</a>
        <hr>
        <a href="/settings/feedback" class="ripple"><img class="settings__img" src="/images/feedback.svg">Feedback</a>
    </section>

    <section class="logout settings ripple">
        <form action="/settings/logout" method="post">
            <img class="settings__img" src="/images/logout.svg">
            <button type="submit" class="logout-btn">Logout</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </section>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <%- include('../../includes/footer.ejs') %>