<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class</title>
    <link rel="stylesheet" href="/css/teacher/class.css">
    <link rel="stylesheet" href="/css/ripple.css">
</head>

<body>
    <%- include('../includes/loader.ejs') %>
    <div id="screen" style="display: none;">
        <header>
            <div class="top-circle-container">
                <div class="top-circle">
                </div>
                <h3 class="class-name"><%= title %></h3>
                <img class="left-arrow" onclick="goBack()" src="/images/left-arrow.svg" alt="">
            </div>
        </header>
        <div class="class-card ripple">
        <div class="top-heading">
            <h3>Schedule</h3>
        </div>
        <hr>
        <div class="left">
            <div class="month">
                <%= schedule.month %>
            </div>
            <div class="date">
                <%= schedule.date %>
            </div>
            <div class="day">
                <%= schedule.day %>
            </div>
        </div>
        <div class="right">
            <div class="timing">
                <%= schedule.time %>
            </div>
        </div>
    </div>
        <div class="course-incharge-container ripple">
            <div class="top-heading">
                <h3>Class Incharge</h3>
            </div>
            <hr>
            <div class="course-incharge" style="margin-top: 10px;">
                <div class="course-incharge-avatar-container">
                    <img class="course-incharge-avatar" src="<%= teacherAvatar %>" alt="">
                </div>
                <div class="course-incharge-info">
                    <h3><%= classIncharge %></h3>
                </div>
            </div>
        </div>
        <div class="class-activities">
            <div class="top-heading">
                <h3>Class Activities</h3>
            </div>
            <hr>
            <% for(quiz of quizes){ %>
                <div style="display: flex; align-items: center; justify-content: space-around;">
                    <a href="/teacher/quiz/<%= quiz._id %>" style="text-decoration: none; color:#454f63;">
                        <div class="quiz ripple">
                            <img src="/images/quiz-icon.svg" alt="">
                            <div style="font-weight: bold;">
                                <%= quiz.title %>
                            </div>
                        </div>
                    </a>
                    <% if(quiz.isFinish){ %>
                        <img src="/images/check.svg" style="height: 40px;width: 18vw;" alt="">
                    <% } else if(quiz.startTime == undefined) { %>
                        <img src="/images/check.svg" style="height: 40px;width: 18vw; display: none;" id="img-<%= quiz._id %>"
                            alt="">
                        <button class="quiz-start-btn" id="btn-<%= quiz._id %>" onclick="startQuiz('<%= quiz._id %>')"> Start
                        </button>
                        <p id="timer-<%= quiz._id %>" class="timer" style="display: none;"></p>
                    <% } else { %>
                        <% let d = new Date(); %>
                        <% 
                            let remTime = Math.floor((d - quiz.startTime)/1000);
                            remTime = quiz.duration - remTime;
                            let remSeconds = remTime;
                            remTime = Math.floor(remTime / 60) + " : " + (remTime % 60);
                        %>
                        <img src="/images/check.svg" style="height: 40px;width: 18vw; display: none;" id="img-<%= quiz._id %>">
                        <span id="timer-sec-<%= quiz._id %>" style="display: none;"><%= remSeconds %></span>
                        <p id="timer-<%= quiz._id %>" class="timer running"> <%= remTime %> </p>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
    let loader = document.getElementById("loader");
    loader.style.display = "none";
    let screen = document.getElementById("screen");
    screen.style.display = "block";
    let csrfToken = "<%= csrfToken %>";
    let timers = document.querySelectorAll('.running');
    for(let timer of timers){
        let quizId = timer.id.split("-")[1];
        let remTime = parseInt(document.querySelector("#timer-sec-"+quizId).innerHTML);
        let timerId = setInterval(() => {
                remTime--;
                if (remTime <= 0) {
                    timer.style.display = "none";
                    document.querySelector("#img-"+quizId).style.display = "block";
                    clearInterval(timerId);
                }
                document.querySelector("#timer-"+quizId).innerHTML = Math.floor(remTime / 60) + " : " + (remTime % 60);
            }, 1000);
    }
</script>
<script src="/js/teacher/startQuiz.js"></script>

</html>