<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/css/teacher/home.css">
    <link rel="stylesheet" href="/css/ripple.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
    <div class="header">
        <header>
            <img onclick="parent.location='/logout'" class="settings-btn" src="images/settings.svg" alt="">
            <div class="top-left-circle">
                <img class="logo" src="images/eureka_logo.png" alt="">
            </div>
        </header>
    </div>
    <div class="courses">
        <% for(let course of courses) {%>
            <div class="course ripple" onclick="parent.location='/teacher/course/<%= course._id %>'">
                <div class="course-tab-inner">
                    <div class="course-avatar">
                        <img src="images/test-avatar.svg" alt="">
                    </div>
                    <div class="course-tab-info">
                        <h3 class="course-courseCode"><%= course.courseCode %></h3>
                        <h2><%= course.courseName %></h2>
                    </div>
                </div>    
            </div>
        <% } %>
    </div>
    <div class="drop-up">
        <div class="content" style="display: none;">
            <a href="/teacher/addCourse">Add Course</a>
            <!-- <hr> -->
            <button class="link" id="modalBtn">Join Existing</button>
        </div>
        <div class="add-btn-container" onclick="btnClick()">
            <img src="/images/add.svg" class="plus-img" alt="" style="height: 35px;width: 35px;">
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="join-course-form" style="margin-top: 2vh;">
            <h3>Join Existing Course</h3>
            <form action="/teacher/joinExistingCourse" class="join-course-form" method="GET">
                <input type="text" name="courseCode" placeholder="course code" id="" class="course-code-input">
                <button>Join</button>
                <!-- <input type="hidden" name="_csrf" value="<%= csrfToken %>"> -->
            </form>
        </div>
        </div>
    </div>
    <div id="snackbar" class="<%= snackbar %>"><%= message %></div>
    <script src="/js/modal.js"></script>
    <script>
        function btnClick(){
            let e = document.querySelector(".content");   
            // e.style.display = "block";
            if(e.style.display == "block"){
                e.style.display = "none";
                // e.classList.remove("rotated");
            }
            else{
                // e.classList.add("rotated");
                e.style.display = "block";
            }
        }
        setTimeout(function(){ document.querySelector("#snackbar").classList = []; }, 2900);
    </script>
</body>
</html>