<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/ripple.css">
<link rel="stylesheet" href="/css/analytics.css">
</head>

<body>
    <header>
        <div class="img-forg"></div>
        <img src="/images/analytics-back.svg" class="back-img">
        <img src="<%= curr_avatar %>" class="avatar">
        <h3 class="name"><%= name %></h3>
        <h3 class="email"><%= email %></h3>
        <img class="left-arrow" onclick="window.history.back();" src="/images/left-arrow.svg">
    </header>
    <main>
        <section class="analytics ripple">
            <h1>Quiz
                <hr>
            </h1>
            <h3 class="analytics_info">Average Quiz Score <span class="scores"><%= analytics.avgQuizSc %></span>
                <hr>
            </h3>
            <h3 class="analytics_info">No. Of Quiz Attempted <span class="scores"><%= analytics.noQuizAtt %></span>
                <hr>
            </h3>
            <h1>Poll
                <hr>
            </h1>
            <h3 class="analytics_info">No. Of Poll Attempted <span class="scores"><%= analytics.noPollAtt %></span>
                <hr>
            </h3>
        </section>
    </main>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <%- include('../includes/footer.ejs') %>