<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class</title>
    <link rel="stylesheet" href="/css/class.css">
    <link rel="stylesheet" href="/css/ripple.css">
</head>

<body>
    <%- include('../includes/spinner.ejs') %>
    <div id="screen">
        <header>
            <div class="top-circle-container">
                <div class="top-circle">
                </div>
                <h3 class="class-name"><%= title %></h3>
                <img class="left-arrow" onclick="goBack()" src="/images/left-arrow.svg" alt="">
            </div>
        </header>
        <div class="class-card ripple">
            <div class="top-heading">
                <h3>Schedule</h3>
            </div>
            <hr>
            <div class="left">
                <div class="month">
                    <%= schedule.month %>
                </div>
                <div class="date">
                    <%= schedule.date %>
                </div>
                <div class="day">
                    <%= schedule.day %>
                </div>
            </div>
            <div class="right">
                <div class="timing">
                    <%= schedule.time %>
                </div>
            </div>
        </div>
        <div class="course-incharge-container ripple">
            <div class="top-heading">
                <h3>Class Incharge</h3>
            </div>
            <hr>
            <div class="course-incharge" style="margin-top: 20px;">
                <div class="course-incharge-avatar-container">
                    <img class="course-incharge-avatar" src="<%= teacherAvatar %>" alt="">
                </div>
                <div class="course-incharge-info">
                    <h3><%= classIncharge %></h3>
                </div>
            </div>
        </div>
        <div class="class-activities">
            <div class="top-heading">
                <h3>Class Activities</h3>
            </div>
            <hr>
            <% for(quiz of quizes){ %>
                <div onclick="spinner()" style="display: flex; align-items: center; justify-content: space-around;">
                    <a href="/student/quiz/<%= quiz._id %>" style="text-decoration: none; color:#454f63;">
                        <div class="quiz ripple">
                            <img src="/images/quiz-icon.svg" alt="">
                            <div style="font-weight: bold;">
                                <%= quiz.title %>
                            </div>
                        </div>
                    </a>
                    <% if(quiz.isFinish){ %>
                        <img src="/images/check.svg" style="height: 40px;width: 18vw;" alt="">
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="review class-activities" style="display:<%= reviewDisplay %>" >
                <div class="top-heading" style="display: flex;">
                        <h3>Review Class</h3>
                </div>
                <hr width="100%">
                <div >
                    <textarea name="reviewInput" id="reviewInput"></textarea>
                    <button type="button" onclick="sendReview()" class="submit-review">Submit</button>
                </div>
        </div>
        <div class="reviewed class-activities" style="display:<%= reviewedDisplay %>" >
                <div class="top-heading" style="display: flex;">
                        <h3>Review Class</h3>
                        <img src="/images/done.svg" style="height: 30px; width: 30px;margin-left: 2px;" alt="">
                </div>
                <hr width="100%">
                <div>
                    <p style="font-weight: bold;" id="written">You wrote <%=studentReview%></p>
                </div>
        </div>
    </div>
    <script>
        function sendReview()
        {
                let xhttp = new XMLHttpRequest();

                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        let responseData = JSON.parse(this.responseText);
                        console.log(responseData); 
                        document.querySelector(".review").style.display = "none";
                        document.querySelector(".reviewed").style.display = "flex";
                        document.querySelector("#written").textContent = "You wrote "+responseData.studentReview;
                    }
                }

                let review = document.querySelector("#reviewInput").value;
                xhttp.open('POST',"/student/class/<%= classId %>/review",true);
                xhttp.setRequestHeader('Csrf-Token', "<%= csrfToken %>");
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("review="+review);
        }
    </script>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>

</html>